.md-container p {
    margin: 16px 0px 16px 0px;
}

.md-container h1 {
    font-family: "Fira Code", "Courier New";
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    margin: 32px 0 16px 0;
}

.md-container img {
    max-height: 100vh;
    max-width: 100%;
}

.md-container img + p {
    font-style: italic;
    margin-top: 0px;
}

.md-container table {
    border-collapse: collapse;
}

.md-container th {
    background-color: lightgrey;
    border-left: solid;
    border-right: solid;
    font-weight: bold;
    padding: 4px;
}

.md-container td {
    border-left: solid;
    border-right: solid;
    padding: 4px;
}

.md-container tr:nth-child(odd) {
    background-color: lightcyan;
}

.md-container tr:hover {
    background-color: cyan;
}

.md-container table + p {
    font-style: italic;
    margin-top: 0px;
}